<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scientific.audit.mapper.PaperFileMapper">

    <resultMap id="BaseResultMap" type="com.scientific.audit.common.model.entity.PaperFile">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="paperId" column="paper_id" jdbcType="BIGINT"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="typeOr" column="type_or" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,paper_id,url,
        type_or,create_time
    </sql>
</mapper>
